<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/07c198be6a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <title>Bootstrap</title>
</head>
<body class="bodyBackground">
    <nav class="navbar navbar-expand-lg navbar-dark background--darkorchid" id="menu-navegacion">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="far fa-lightbulb fa-2x text-flicker-in-glow"></i>
                <span class="ml-2 text-flicker-in-glow">IT Works!</span>
            </a>

            <!--Boton de menu comprimido para resoluciones menores-->
            <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="empresa.html" class="nav-link">Empresa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="secciones.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Secciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="secciones.html">Totas las Secciones</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="secciones.html">eCommerce</a>
                          <a class="dropdown-item" href="secciones.html">Diseño</a>
                          <a class="dropdown-item" href="secciones.html">Educacion</a>
                          <a class="dropdown-item" href="secciones.html">Venta en local</a>
                          <a class="dropdown-item" href="secciones.html">Marketing</a>
                          <a class="dropdown-item" href="secciones.html">Salud</a>
                          <a class="dropdown-item" href="secciones.html">Servicios</a>
                          <a class="dropdown-item" href="secciones.html">Software</a>
                          <a class="dropdown-item" href="secciones.html">Gestorias</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a href="servicios.html" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="testimonios.html" class="nav-link">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a href="contacto.html" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    
    <h1 class="text-center my-5 seccion__titulo--sombreado">En que area queres emprender?</h1>
    <div id="seccion" class="container my-5 secciones">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/ecommerce.jpg" width="100%" alt=""><span>eCommerce</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/design.jpg" width="100%" alt=""><span>Diseño</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/educacion.jpg" width="100%" alt=""><span>Educacion</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/local.jpg" width="100%" alt=""><span>Venta Local</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/marketing.jpg" width="100%" alt=""><span>Marketing</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/salud.jpg" width="100%" alt=""><span>Salud</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/servicio.jpg" width="100%" alt=""><span>Servicio</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/software.jpg" width="100%" alt=""><span>Software</span></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="#" class="seccion__link--decorationNone"><img class="rounded" src="../assets/img/asesorias.jpg" width="100%" alt=""><span>Gestorias</span></a>
            </div>
        </div>
    </div>


    <footer class="background--darkorchid text-white p-4">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <p class="lead text-center">
                        2020 - IT Works! &copy;
                        <span>Todos los derechos</span>
                    </p>
                </div>
                <div class="col">
                    <h3 class="d-flex justify-content-center">Seguinos!</h3>
                    <div class="d-flex justify-content-center">
                        <div class="mx-3">
                            <a href="#"><i class="fab fa-facebook text-white"></i></a>
                        </div>
                        <div class="mx-3">
                            <a href="#"><i class="fab fa-instagram text-white"></i></a>
                        </div>
                        <div class="mx-3">
                            <a href="#"><i class="fab fa-twitter text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>