<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/07c198be6a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <title>Bootstrap</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark background--darkorchid" id="menu-navegacion">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="far fa-lightbulb fa-2x text-flicker-in-glow"></i>
                <span class="ml-2 text-flicker-in-glow">IT Works!</span>
            </a>

            <!--Boton de menu comprimido para resoluciones menores-->
            <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="empresa.html" class="nav-link">Empresa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="secciones.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Secciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="secciones.html">Totas las Secciones</a>
                            <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="secciones.html">eCommerce</a>
                          <a class="dropdown-item" href="secciones.html">Diseño</a>
                          <a class="dropdown-item" href="secciones.html">Educacion</a>
                          <a class="dropdown-item" href="secciones.html">Venta en local</a>
                          <a class="dropdown-item" href="secciones.html">Marketing</a>
                          <a class="dropdown-item" href="secciones.html">Salud</a>
                          <a class="dropdown-item" href="secciones.html">Servicios</a>
                          <a class="dropdown-item" href="secciones.html">Software</a>
                          <a class="dropdown-item" href="secciones.html">Gestorias</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a href="servicios.html" class="nav-link active">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="testimonios.html" class="nav-link">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a href="contacto.html" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="my-5">
        <h1 class="text-center seccion__titulo--sombreado">Nuestros Servicios</h1><!-- 
        <p class="lead text-center">Te detallamos nuestros servicios segun el plan que elijas, ajustado a lo que necesites!</p> -->

        <div class="pricing-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-price">
                            <div class="price-header">
                                <h3 class="title">Profesional</h3>
                            </div>
                            <div class="price-value">
                                <div class="value">
                                    <span class="currency">U$S</span> <span class="amount">75<span>.-</span></span> <span class="month">/mes</span>
                                </div>
                            </div>
                            <ul class="deals">
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                            </ul><a href="#">Contratar</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-price">
                            <div class="price-header">
                                <h3 class="title">Corporativo</h3>
                            </div>
                            <div class="price-value">
                                <div class="value">
                                    <span class="currency">U$S</span> <span class="amount">150<span>.-</span></span> <span class="month">/mes</span>
                                </div>
                            </div>
                            <ul class="deals">
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                            </ul><a href="#">Contratar</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-price">
                            <div class="price-header">
                                <h3 class="title">Empresario</h3>
                            </div>
                            <div class="price-value">
                                <div class="value">
                                    <span class="currency">U$S</span> <span class="amount">300<span>.-</span></span> <span class="month">/mes</span>
                                </div>
                            </div>
                            <ul class="deals">
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                                <li>Lorem ipsum dolor.</li>
                            </ul><a href="#">Contratar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="background--darkorchid text-white p-4">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <p class="lead text-center">
                        2020 - IT Works! &copy;
                        <span>Todos los derechos</span>
                    </p>
                </div>
                <div class="col">
                    <h3 class="d-flex justify-content-center">Seguinos!</h3>
                    <div class="d-flex justify-content-center">
                        <div class="mx-3">
                            <a href="#"><i class="fab fa-facebook text-white"></i></a>
                        </div>
                        <div class="mx-3">
                            <a href="#"><i class="fab fa-instagram text-white"></i></a>
                        </div>
                        <div class="mx-3">
                            <a href="#"><i class="fab fa-twitter text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>