/* Pagina 'Servicios' -------- inicio */

$violeta: rgb(153, 50, 204);
$blanco: #ffffff;

.pricing-area {
	padding: 80px 0;
}
.single-price {
	padding-bottom: 25px;
	background: $blanco;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.single-price a {
	background: $violeta;
	color: $blanco;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
}
.single-price:hover {
	cursor: pointer;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	transform: scale(1.04);
}
.single-price::before {
	content: "";
	width: 100%;
	height: 350px;
	background: $violeta;
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}
.single-price .price-header {
	padding: 20px 20px 60px;
	text-align: left;
	position: relative;
}
.single-price .title {
	font-size: 30px;
	font-weight: 600;
	color: $blanco;
	text-transform: uppercase;
	margin: 0;
}
.single-price .price-value {
	display: inline-block;
	width: 170px;
	height: 110px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	position: relative;
}
.single-price .value {
	width: 100%;
	height: 100%;
	background: $blanco;
	border: 5px solid #262626;
	border-top: none;
	border-bottom: none;
	z-index: 1;
	position: relative;
}
.single-price .value::before, .single-price .value::after {
	content: "";
	width: 97px;
	height: 97px;
	background: $blanco;
	border: 5px solid #262626;
	border-bottom: none;
	border-right: none;
	position: absolute;
	top: -48px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.single-price .value::after {
	border-right: 5px solid #262626;
	border-bottom: 5px solid #262626;
	border-top: none;
	border-left: none;
	top: auto;
	bottom: -48px;
}
.single-price .currency {
	display: inline-block;
	font-size: 15px;
	margin-top: 7px;
	vertical-align: top;
}
.single-price .amount {
	display: inline-block;
	font-size: 35px;
	font-weight: 600;
	line-height: 65px;
}
.single-price .amount span {
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	vertical-align: top;
	margin-top: -7px;
}
.single-price .month {
	display: block;
	font-size: 16px;
	line-height: 0;
}
.single-price .deals {
	padding: 70px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.single-price .deals li {
	padding: 7px 0;
	font-size: 16px;
	color: #808080;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.single-price {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.single-price:before {
		transform: skewY(-15deg);
	}
	.single-price .title {
		font-size: 22px;
	}
}
/* Pagina 'Servicios' -------- fin */